language: python
python: "3.8"
before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest
install:
  - pip install ".[test]" . # install package + test dependencies
script: pytest # run tests